body {
  background-color: black;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1,
h2{
  background-color: blueviolet;
  margin: 2rem;
  text-align: center;
  font-family: monospace;
  border: 1px solid white;
}

h2{
  background-color: darkmagenta;
}

li {
  border: 3px solid white;
  margin: 2em;
  background-color: green;
}

a:link{
  color: grey;
}

a:visited{
  color: lightblue;
}

a:hover{
  font-size: 110%;
}
